/*
*Description: HTML5 / CSS3 Multi Page
*Version: 1.0
**************************************
*/

/*Extra small devices (phones, less than 768px) */

@media only screen and (max-width : 320px) {
    .banner-text h4 {
        font-size: 20%;
    }
    .navbar-toggle {
        display: block !important;
    }

    .branch,
    .employee,
    .delivery {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }

    a.carousel-control {
        top: 30%;
    }
}

@media only screen and (max-width : 767px) {
    .banner-section{
        padding-top: 47px;
        height: 325px !important;
    }
    .banner-text{
        padding: 0px 0px;

    }
    .banner-section #testimonialSlider .carousel-inner .carousel-item .custom-carousel-item{
        font-size: 45px;
        line-height: 54px;
        height: 54px;
        }
    .banner-text h4 {
        font-size: 70%;
        /* padding: 15px 0px; */
        margin: -13px 0;
    }

    .service-section{
        margin-top: 50px;
        padding: 50px 0px;
        
    }
    .design-editorial {
        padding: 20px 20px;
        margin: 150px 0px;
        height: 1647px;
        overflow-y: hidden;
    }
    .member-item img {
        width: 50%;
        padding: 30px;
        margin: 5px;
    }
    .member-item h3 {
        padding: 2px 18px;
        margin: -20px;
        font-size: 18px;
        line-height: 20px;
        color: #000 !important;
        text-align: center !important;
        position: absolute;
        top: 105%;
        left: -76px;
        right: 0;
    }
    .modal-dialog {
        width: 70%;
    }
    /*navigation*/
   

    .award-section .media-left {
        width: 100%;
        display: block;
    }

    .award-section .item-right-text {
        padding: 50px;
    }

    /*home page*/
    .service-home.section-padding {
        padding-bottom: 50px;
    }

    .service-home .service {
        margin-bottom: 60px;
    }

    .eight-logo-thuimb .counter-block {
        text-align: center;
        margin-bottom: 50px;
    }

    .css-tab .nav-tabs > li {
        margin: 10px 0;
    }

        .css-tab .nav-tabs > li > a {
            font-size: 16px;
            line-height: 20px;
        }

            .css-tab .nav-tabs > li > a i::before {
                font-size: 24px;
                line-height: 26px;
                margin-top: 0;
            }

    .css-tab2 .nav-tabs li a {
        padding: 8px 5px;
    }

    /*career page*/

    .career ul.joblist li:last-child {
        float: none;
       
    }

    .career ul.joblist li:nth-child(2) {
        margin-right: 20px;
    }

    /*service tareq bhai st*/
    div.row.content-row > div.col-sm-4 {
        padding: 3px;
    }

        div.row.content-row > div.col-sm-4 > div.service.one {
            padding: 6px 3px 10px 3px;
            border-radius: 5px;
            background-color: #84b2cf;
        }

        div.row.content-row > div.col-sm-4 > div.service.two {
            padding: 6px 3px 10px 3px;
            border-radius: 5px;
            background-color: #84cfb8;
        }

        div.row.content-row > div.col-sm-4 > div.service.three {
            padding: 6px 3px 10px 3px;
            border-radius: 5px;
            background-color: #e4e38a;
        }

    /*service tareq bhai ed*/
}

@media only screen and (max-width : 479px) {
    .navbar-toggle {
        display: block !important;
    }
    /*Menu*/
    h1.logo img {
        margin-top: -15px;
        /*width:60%;*/
    }
    /*home*/
    .partner-carousel-navigation .prev {
        left: 82%;
    }

    .css-tab .nav-tabs > li {
        display: block;
        width: 100%;
    }
    /*about*/
    .item .history-info {
        padding: 30px;
    }

    .company-in-number i::before {
        font-size: 50px;
    }

    /*blog*/
    .blog-post-wrapper .css-post-link,
    .blog-post-wrapper blockquote a {
        font-size: 16px !important;
        padding: 30px !important;
        line-height: 20px;
    }

    .blog-post-wrapper blockquote footer {
        bottom: 10px !important;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1200px) {
    /*.navbar-nav {
        display: none !important;
    }*/
    .banner-section #testimonialSlider .carousel-inner .carousel-item .custom-carousel-item{
        font-size: 70px;
        line-height: 80px;
        height: 80px;
    }

   
}

@media only screen and (min-width : 1200px) and (max-width : 1600px) {
    marquee {
        height: 300px;
    }
   
    
    .service-image-manipulation .service-element  p{
        font-size: 11px;
        left: 10%;
    }

    .service-image-edit .service-element p{
        font-size: 14px;
    }

    .design-editorial .service-element p {
        position: absolute;
        font-size: 14px;
        color: #fff;
        top: 12%;
        left: 9%;
        padding: 0% 3%;
        margin: 0% 3%;
        font-weight: 700;
        line-height: normal;
    }

    .service-image-vector .service-element p {
        position: absolute;
        font-size: 14px;
        top: 17%;
        left: 12%;
        padding: 0% 3%;
        margin: 0% 3%;
        font-weight: 700;
        line-height: normal;
    }

    .language-text{
        position: absolute;
    color: #000;
    font-size: xx-large;
    line-height: normal;
    top: -2%;
    left: 18%;
    padding: 24px 22px;
    text-align: center;
    margin: auto;
    }

    .language-right-text {
        padding-top: 30px;
        padding-bottom: 52px;
        padding-left: -8px;
        padding-right: 133px;
    }
    .service-web-media-globe {
        position: absolute;
        /* transform: translate(-48%, -44%); */
        top: 93px;
        left: 271px;
        width: 28%;
    }

    #serviceweb {
        padding: 67px 40px;
    }
}
/* Small devices (tablets) */
@media (min-width: 768px) {

    /*navigation*/

    .navbar {
        padding: 0px 0;
    }

        .navbar.sticky {
            padding: 0px 0;
        }

    .navbar-nav {
        padding-top: 0px;
        padding-bottom: 5px;
    }

    .sticky .navbar-nav {
        padding-top: 0px;
        padding-bottom: 5px;
    }

   

    .company-in-number i::before {
        font-size: 60px;
    }
}

@media (max-width: 991px) {

    #mainContact {
        margin-bottom: 60px;
    }
}

/* Landscape Mobile */
@media only screen and (min-width : 320px) and (max-width : 479px) {
    .navbar-toggle {
        display: block !important;
        margin-top: -60px;
        margin-right: 10px;
    }

    .navbar-brand {
        display: none;
    }

    .banner-bar {
        margin-top: 0px;
    }

    .banner-image img {
        padding: 5px 0;
    }

    .topbar-right {
        display: none;
    }
    .slider-item{
        margin-top:60px;
    }
    .about-section .section-padding {
        padding: 0px 0px;
    }

    .right-slider {
        margin-top: 4px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .carousel:hover a.left.carousel-control {
        left: 20px;
    }

    .carousel:hover a.right.carousel-control {
        right: 40px;
    }

    a.carousel-control {
        top: 45%;
        width: 15px;
        height: 15px;
        /*line-height: 22px;
        text-align: center;
        opacity: 0;*/
    }

    h1.logo img {
        margin-top: -10px;
        width: 95%;
    }

    .six-member-thuimb .content-row {
        padding: 0px 0px;
    }

    .about-section .dcci-image iframe {
        margin-top: 40px;
        float: none;
    }

    .center-item img {
        left: 0px;
    }

    .partner-carousel-navigation .prev,
    .partner-carousel-navigation .next {
        /*margin-top: -50px;*/
        top: -30%;
    }

    .x-services .thumbnail .caption {
        padding: 20px 0px 0px 0px;
    }

        .x-services .thumbnail .caption h2 {
            text-align: center;
        }

    .eight-logo-thuimb .row-content {
        padding: 0px 0px;
    }

    .information-service {
        padding-bottom: 50px;
    }

    .footer-widget h3 {
        margin-top: 20px;
    }

    marquee {
        height: 200px;
        margin-left: 10px;
    }

    .call-to-action {
        display: none;
    }

    .service-home {
        padding-bottom: 0px;
    }

    .president-message {
        padding: 80px 0 85px;
    }

    .map-top-space {
        padding-top: 20px;
    }
    /*director*/
    /*b2b*/
    .header-search input {
        padding: 10px 40px 10px 20px;
    }

    .header-search button {
        right: 0px;
    }

    .b2b-logo-details img {
        width: 65%;
        margin: 0px auto;
    }

    .award-section .media-body .item-right-text {
        position: relative;
        font-size: 14px;
        padding: 0px 10px 0 10px;
    }

    .other-news .media-heading, .other-news .rating {
        margin-left: -20px;
        margin-right: -5px;
        text-align: justify;
    }
}

@media only screen and (min-width : 480px) and (max-width : 767px) {
    .navbar-toggle {
        display: block !important;
        margin-top: -80px;
        margin-right: 10px;
    }

    .navbar-brand {
        display: none;
    }

    .banner-image {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .topbar-right {
        display: none;
    }

    .right-slider {
        margin-top: 4px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .slider-item{
        margin-top:60px;
    }
    .about-section .section-padding {
        padding: 0px 0px;
    }

    .call-to-action {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
    }

    marquee {
        height: 200px;
        margin-left: 30px;
    }

    .six-member-thuimb .content-row {
        padding: 0px 0px;
    }

    .president-message {
        padding: 80px 0 85px;
    }

    .about-section .dcci-image iframe {
        margin-top: 40px;
        float: none;
    }

    .x-services .thumbnail .caption h2 {
        text-align: center;
    }

    .center-item img {
        left: 0%;
    }

    .information-service {
        padding-bottom: 50px;
    }

    .partner-carousel-navigation .prev,
    .partner-carousel-navigation .next {
        top: -20%;
    }

    .partner-carousel-navigation .prev {
        left: 85%;
    }

    .css-tab .nav-tabs > li {
        /*margin: 10px 0;*/
        padding: 5px 8px;
    }

    h1.logo img {
        margin-top: -15px;
        width: 45%;
    }

    .eight-logo-thuimb .row-content {
        padding: 0px 0px;
    }

    .employee img {
        padding-bottom: 15px;
    }

    .map-top-space {
        padding-top: 20px;
    }

    .footer-widget h3 {
        margin-top: 20px;
    }
    /*b2b*/
    .header-search input {
        padding: 10px 200px 10px 20px;
    }

    .header-search button {
        right: 0px;
    }

    .b2b-logo-details img {
        width: 65%;
        margin: 0px auto;
    }

    .service-item::before {
        width: 80%;
    }

    .thumb img {
        width: 100%;
    }

    .award-section .media-body .item-right-text {
        position: relative;
        font-size: 14px;
        padding: 0px 10px 0 10px;
    }

    .other-news .media-heading, .other-news .rating {
        margin-left: -20px;
        margin-right: -5px;
        text-align: justify;
    }
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
    /*.navbar-toggle {
        display: block !important;
        margin-top: -130px;
    }*/
    .navbar-default .navbar-nav > li > a {
       
        margin-right: 5px;
        
    }

    .banner-image {
        padding: 5px 0px;
    }

    .call-to-action i {
        margin-right: 0px;
    }

    marquee {
        height: 200px;
        margin-left: 30px;
    }

    .topbar-right {
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .topbar-right img {
            width: 80%;
            padding-right: 0px;
        }

    .about-section .section-padding {
        padding: 0px 0px;
    }

    .member-item {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .six-member-thuimb .content-row {
        padding: 0px 0px;
    }

    .president-message {
        padding: 80px 0 85px;
    }

    .other-news .media-heading, .rating {
        margin-left: -80px;
        margin-right: -1px;
        text-align: justify;
    }

    li.img-about-details img {
        /*height: 240px;*/
        margin-left: 0px;
    }

    .information-service {
        padding-bottom: 50px;
    }

    .other-news .rating {
        margin-left: -80px;
    }

    .partner-carousel-navigation .prev,
    .partner-carousel-navigation .next {
        top: -30%;
    }

    .award-section .item-right-text {
        font-size: 18px;
        line-height: 28px;
    }

    .map-top-space {
        padding-top: 20px;
    }

    .two img {
        padding-bottom: 25px;
    }
    /*b2b*/
    .header-search button {
        right: 200px;
    }

    .b2b-logo-details img {
        width: 45%;
        margin-left: 0px;
    }

    .award-section .media-body .item-right-text {
        /*position: relative;*/
        font-size: 20px;
        padding: 0px 10px 0 10px;
    }
}

/* Desktops and laptops */
@media only screen and (min-width : 992px) and (max-width : 1200px) {
}

@media only screen and (min-width : 992px) {

    .section-padding {
        padding: 80px 0;
    }



    marquee {
        height: 230px;
    }

    .employee img {
        padding-bottom: 20px;
    }
    /*Home page*/

    .sidebar-wrapper.right-sidebar {
        padding: 0 0 0 60px;
    }

    .sidebar-wrapper.left-sidebar {
        padding: 0 60px 0 0;
    }

    .partner-carousel-navigation .prev,
    .partner-carousel-navigation .next {
        top: 50%;
    }

    .partner-carousel-navigation .prev {
        left: -5px;
    }

    .partner-carousel-navigation .next {
        right: -5px;
    }

    .other-news .media-heading, .other-news .rating {
        margin-left: -20px;
        margin-right: -1px;
        text-align: justify;
    }
    /*about page*/
    .about-intro-section {
        background-position: center;
    }
}

/* Large devices (large desktops) */
@media (min-width: 1225px) {
    marquee {
        height: 340px;
    }
}

@media (min-width: 1367px) {
    marquee {
        height: 490px;
    }

    .employee img {
        padding-bottom: 25px;
    }
}
